.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
}

.brand-name {
  font-size: 7rem;      
  font-weight: bold;
  color: blue;          
  margin: 0;
  text-align: center;
}
